.confirmed {
    background-color: blue;
    color: white;
}
.confirmed:hover {
    color: white;
}
.deaths {
    background-color: red;
    color: white;
}
.deaths:hover {
    color: white;
}
.recovered {
    background-color: green;
    color: white;
}
.recovered:hover {
    color: white;
}

.dark-button {
    background-color: "#243447";
    color: white;
}
.dark-button:hover {
    color: white;
}
.light-button {
    background-color: "#fff";
    color: #000;
}