.dark-select, .dark-select:focus {
    background-color: #141D26;
    color : #ffffff;
}

.light-select, .light-select:focus {
    background-color: #ffffff;
    color : #000;
}

.form-control:focus {
    border-color: inherit;
}