.card {
  text-transform: uppercase;
  text-align: center;
}

.dark-mode .card {
  background-color: #243447;
  color: #ffffff;
}

.dark-mode .card h3 {
  color: #C51F5D
}

.light-mode .card {
  background-color: #ffffff;
  color: #000000;
}

.light-mode .card h3 {
  color: #FFB347;
}

.btn {
  outline: none;
}

.btn:focus {
  outline: none;
  box-shadow: none;
}

svg {
  display: inline-block;
  vertical-align: middle;
  max-height: 400px;
  width: 100%;
  padding: 0;
}
